.hero{
    min-height: 25rem;
    background-image: url('../img/jumbotron.jpg');
}

.comics{
    background-color: var(--main-bg-color);
    padding: var(--padding-top_bottom-m);
    color: #fff;

    .comic-card img{
        width: 100%;
        height: 12.5rem;
        object-fit: cover;
        object-position: top;
    }
}